export OUTPUT_URI=s3://barbara-workspace/nuxeo-component-ordering

export NUXEO_API_USER=
export NUXEO_API_PASS=

export NUXEO_DB_NAME=nuxeo
export NUXEO_DB_USER=nuxeo

# stage
export NUXEO_ELASTICSEARCH_ENDPOINT=
export NUXEO_API_ENDPOINT="https://nuxeo-stg.cdlib.org/nuxeo/site/api/v1"
export NUXEO_API_TOKEN=
export NUXEO_DB_HOST=
export NUXEO_DB_PASS=

# prod
#export NUXEO_ELASTICSEARCH_ENDPOINT=
#export NUXEO_API_ENDPOINT="https://nuxeo.cdlib.org/nuxeo/site/api/v1"
#export NUXEO_API_TOKEN=
#export NUXEO_DB_HOST=
#export NUXEO_DB_PASS=

RIKOLTI_OPENSEARCH_ENDPOINT=