OUTPUT_URI=s3://barbara-workspace/nuxeo-component-ordering
OPENSEARCH_ENDPOINT=
NUXEO_API_ENDPOINT="https://nuxeo.cdlib.org/nuxeo/site/api/v1"
NUXEO_API_TOKEN=
NUXEO_API_USER=
NUXEO_API_PASS=

# stage DB
#NUXEO_DB_NAME=nuxeo
#NUXEO_DB_HOST=
#NUXEO_DB_USER=nuxeo
#NUXEO_DB_PASS=

# prod DB
NUXEO_DB_NAME=nuxeo
NUXEO_DB_HOST=
NUXEO_DB_USER=nuxeo
NUXEO_DB_PASS=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=