export OPENSEARCH_ENDPOINT=
export NUXEO_API="https://nuxeo.cdlib.org/nuxeo/site/api/v1"
export NUXEO_API_TOKEN=
export NUXEO_API_USER=
export NUXEO_API_PASS=
export NUXEO_DB_NAME=
export NUXEO_DB_HOST=
export NUXEO_DB_USER=
export NUXEO_DB_PASS=